* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding:0 15px;
  border-top: 2px solid #C30D26;
}

header{
    text-align: center;
    margin-bottom: 15px;
}

h1 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size:35px;
    margin-bottom: 5px;
}

h2{
    color:#C30D26;
    font-size: 25px;
}

img.stemma-firenze {
    height: 45px;
}

#map {
  height: 500px;
  width: 100%;
}

#info {
  padding: 20px;
  background: #f8f8f8;
}

.contTotMapFirenze > div {
    height: 500px;
    background: #f8f8f8;
    max-height: 500px;
}

div#sensorDetails i {
    font-size: 15px;
}

header p{margin-top:0;}

main{
    flex: 1;
}

footer {
    float: left;
    width: 100%;
    margin-top: 35px;
    text-align: center;
    border-top: 1px solid #ccc;
    font-size: 12px;
}

@media screen and (max-width: 480px) {
    .stemma-firenze{display: none;}
    .contTotMapFirenze > div, #map{height:300px;}
    .contDetsMappFirenze{overflow-y:auto;}
}

@media screen and (max-width: 1024px) {
    .contTotMapFirenze {
        margin-top: 15px;
    }

    .contDetsMappFirenze{
        border-top:2px solid #333;
    }

    header{margin:0;}
    h1{margin-bottom: 15px;}
    h2{margin-top: 0;}

    .contDetsMappFirenze {
        margin-top: 25px;
    }
}


@media screen and (min-width: 1024px) {

    main{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contTotMapFirenze {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-column-gap: 20px;
        width: 100vw;
        max-width: 100%;
        margin: 0 auto;
    }

    .contDetsMappFirenze{
        border-left:2px solid #333;
    }
    
}


